{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block main %}
    <h1>Consultez votre boîte mail</h1>
    <p>Si un compte correspond à l’email indiqué, un lien de réinitialisation vous a été envoyé.</p>
{% endblock %}
