{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block main %}
    <h1>Changer votre mot de passe</h1>

    {% for message in app.flashes('reset_password_error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-success">Changer le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
